{{> head }}

{{> navbar }}
    
    <div class="row">
        <div class="col-8">
            <h1>Acces control system</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, magni. Doloremque minima, sed modi consequuntur nostrum at beatae ut voluptate unde illo ipsa ullam fugiat culpa, tempore delectus. Adipisci, quidem?</p>

        </div>

        <div class="col-4">
            <img src="assets/img/cat.png" alt="Hermoso gatito" class="img-thumbnail">
        </div>
    </div>

{{> footer }}
